In [1]:
print("Hello World!")

Hello World!

In [2]:
print("Hello World!")

Hello World!

In [3]:
"Hello World!"

'Hello World!'

In [4]:
print("My name is 'Umair!'")

My name is 'Umair!'

In [5]:
name = "Umair"

In [8]:
print(name)

Umair

In [9]:
print("My name is "+name)

My name is Umair

In [10]:
print("My name is",name)

My name is Umair

In [11]:
f_name = "Shehzad"

In [15]:
print("My name is "+name+" "+f_name)

My name is Umair Shehzad

In [25]:
print("My name is",name,"\nMy Father Name Is",f_name)

My name is Umair
My Father Name Is Shehzad

In [17]:
Flan = "U"

In [18]:
Flan

'U'

In [22]:
fatherName =

SyntaxError: cannot assign to operator (<ipython-input-22-5cad176c91b9>, line 1)

In [23]:
number = 1234

In [26]:
print(number)

1234

In [29]:
name = "Umair"
f_name = "Shehzad"
full_name = name + " " +f_name

In [31]:
full_name = full_name + "03036"

In [32]:
full_name

'Umair Shehzad03036'

In [33]:
num1 = 30
num2 = 40

In [34]:
num3 = num1 + num2

In [35]:
num3

70

In [36]:
num3 = num1 - num2

In [37]:
num3

-10

In [38]:
num3 = num1 * num2
num3

1200

In [39]:
num3 = num1 / num2
num3

0.75

In [41]:
num1 = 6

In [42]:
num2 = 5
num3 = 7

In [43]:
output = ((num1 + num2) + num3) * 6

In [44]:
print(output)

108

In [45]:
'num1' = 5

SyntaxError: cannot assign to literal (<ipython-input-45-8254fa16053d>, line 1)

In [50]:
num = 14 % 3

In [51]:
num

2

In [52]:
num = 14 // 3

In [53]:
num

4

In [54]:
num = num + 3
num

7

In [55]:
num += 3

In [57]:
num -=4
num

6

In [58]:
num *= 5
num

30

In [59]:
num ++

SyntaxError: invalid syntax (<ipython-input-59-8c24a0b4e959>, line 1)

In [63]:
total_cost = ((1 + 3) * (4 / 2))
total_cost

8.0

In [64]:
result_of_computation = ((2 * 4) * 4) + 2
result_of_computation

34

In [68]:
print("The sum of 2 plus 2 is " + str(num))

The sum of 2 plus 2 is 30