**Q1)** Assign 8 to the variable x and 15 to the variable y. 

In the same cell, create 2 conditional statements.

Let the first one print "At least one of the conditions is satisfied." if x is greater than 3 or y is even.

Let the second one print "Neither condition is satisfied." if x is less than or equal to 3 and y is odd.

Change the values assigned to x and y and re-run the cell to verify your code still works.

In [1]:
x = 8
y = 15

if 3 > x or y % 2 == 0:
    print("At least one of the conditions is satisfied")
elif x <= 3 or y % 2 != 0:
    print("Neither condition is satisfied")
else: 
    print("BYE!!!!!")

Neither condition is satisfied

**Q2)** Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)

In [3]:
for i in range(1500,2701):
    if i % 7 ==0 and i % 5==0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

**Q3)** Write a Python program to add the numbers from a series of numbers <br>
Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

In [8]:
result = 0
for i in range(1,10):
    result = result + i
    print(result)
# print(result)

1
3
6
10
15
21
28
36
45

**Q4)** Write a Python program that accepts a word from the user and reverse it.

In [9]:
word = input("Enter any word ")
print(word[::-1])

Enter any word Umair
riamU

**Q5)** Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".<br>
Sample Output : <br>
fizzbuzz <br>
1 <br>
2 <br>
fizz <br>
4 <br>
buzz <br>



---



---


**Continue Keyword** <br>
The continue statement in Python returns the control to the beginning of the while loop. The continue statement rejects all the remaining statements in the current iteration of the loop and moves the control back to the top of the loop. The continue statement can be used in both while and for loops.



---



---

In [10]:
for i in range(1,51):
    if (i % 3 == 0) and (i % 5 == 0):
        print("FIzzBuzz")
        continue
    elif (i % 3 == 0):
        print("Fizz")
    elif (i % 5 == 0):
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FIzzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FIzzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FIzzBuzz
46
47
Fizz
49
Buzz

**Q6)**  Print pattern: <br>
1 <br>
1 2 <br>
1 2 3 <br>
1 2 3 4 <br>
1 2 3 4 5 <br>



---



---


**End Keyword** <br>
Python’s print() function comes with a parameter called ‘end’. By default, the value of this parameter is ‘\n’, i.e. the new line character. You can end a print statement with any character/string using this parameter.


---



---

In [12]:
for i in range(1,6):
    for j in range(i):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**Q7)** Print pattern: <br>
1 <br>
1 2 <br>
1 2 3 <br>
1 2 3 4 <br>
1 2 3 4 5 <br>
1 2 3 4 5 <br>
1 2 3 4 <br>
1 2 3 <br>
1 2 <br>
1 <br>

In [15]:
for i in range(1,6):
    for j in range(i):
        print(j+1,end=" ")
    print()
for i in range(5,0,-1):
    for j in range(i):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

**Q8)** Print pattern: <br>
1 <br>
1 2 <br>
1 2 3 <br>
1 2 3 4 <br>
1 2 3 4 5 <br>
1 2 3 4 <br>
1 2 3 <br>
1 2 <br>
1 <br>

In [16]:
for i in range(1,6):
    for j in range(i):
        print(j+1,end=" ")
    print()
for i in range(4,0,-1):
    for j in range(i):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1