# Q1 ) 
Write an if statement that asks for the user's name via input() function. If the name is "Bond" make it print "Welcome on board 007." Otherwise make it print "Good morning NAME". (Replace Name with user's name)

# Q2 )
Print the following pattern <br>
1 <br>
1 2 <br>
1 2 3 <br>
1 2 3 4 <br>
1 2 3 4 5 <br>

# Q3)
Accept number from user and calculate the sum of all number from 1 to a given number <br>
For example, if user entered 10 the output should be 55.

# Q4) 
Print multiplication table of a given number <br>
For example, num = 2 so the output should be <br>


2
4
6
8
10
12
14
16
18
20

# Q5) 
Given a list, iterate it, and display numbers divisible by five, and if you find a number greater than 150, stop the loop iteration.  <br>
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

# Q6)
Given a number count the total number of digits in a number <br>
For example, the number is 75869, so the output should be 5.

# Q7) 
Reverse print the following list using for loop <br>
list1 = [10, 20, 30, 40, 50]

# Q8)
 Reverse a given integer number <br>
Given:<br>

76542<br>

Expected output:<br>

24567<br>

# Q9) 
Display the cube of the number up to a given integer

# Q10)
Take two int values from user and print greatest among them.